/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-weight: 400;
  color: #3b3b3b;
  font-family: "Raleway";
  transition: .2s ease;
  transition: all 0.2s ease-out; }

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto; }

picture {
  display: flex; }

li {
  list-style-type: none; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.header__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1577px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  height: 100%; }

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 115px; }

.header-logo {
  color: #ededed;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none; }

.header {
  background: url("../img/header-bg-image.png") no-repeat;
  background-size: 100% 100%;
  background-position: 100%;
  height: 100vh;
  overflow: hidden; }

.header-menu__text {
  color: #ededed;
  font-weight: bold;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 5px 0 0;
  cursor: pointer; }

.header-menu {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: flex-end; }

.header-menu__burger {
  cursor: pointer; }
  .header-menu__burger span {
    display: block;
    width: 20px;
    height: 4px;
    background-color: #ededed;
    border-radius: 2px; }
  .header-menu__burger span:nth-child(2) {
    margin-bottom: 2px;
    margin-top: 2px; }

.header-bottom__capture {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ededed;
  font-weight: bold;
  text-align: right; }

.header-bottom__text {
  color: #ededed;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: right; }

.header-bottom__text--italic {
  font-size: 18px;
  font-weight: 300;
  font-style: italic; }

.header-bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-end;
  padding-bottom: 300px; }

.header-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  display: none;
  transition: .2s ease; }
  .header-nav a {
    transition: .2s ease;
    color: #ededed;
    font-weight: bold;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out; }

.header-nav--active {
  display: flex;
  transition: all 0.2s ease-out; }

.header-menu__text--disable {
  display: none;
  transition: all 0.9s ease-out; }

.header-logo--navigation {
  color: #1c1c1c;
  font-weight: bold;
  transition: all 0.2s ease-out; }

.header-nav__list {
  margin: 0 5px 0 0;
  display: flex;
  max-width: 1035px;
  width: 100%;
  justify-content: space-between;
  transition: .2s ease; }
  .header-nav__list a {
    position: relative; }
    .header-nav__list a:after {
      display: block;
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #ffffff;
      content: "";
      -webkit-transition: width 0.1s ease-in;
      transition: width 0.1s ease-in; }
    .header-nav__list a:hover:after {
      width: 100%; }

.header-menu__burger-item--active:nth-child(2) {
  transform: rotate(-45deg);
  position: relative;
  top: -6px;
  background-color: #dd0909;
  transition: all 0.2s ease-out; }

.header-menu__burger-item--active:nth-child(1) {
  transform: rotate(45deg);
  background-color: #dd0909;
  transition: all 0.2s ease-out; }

.header-menu__burger-item--active:nth-child(3) {
  opacity: 0; }

.header-menu__burger--active {
  position: relative;
  top: 5px;
  transition: all 0.2s ease-out; }

@media (max-width: 920px) {
  .header {
    min-height: 500px; }
  .header-bottom {
    padding-bottom: 0px;
    justify-content: flex-start;
    margin: 70px 0 0 0; }
  .header-top {
    padding-top: 50px; }
  .header-top--active {
    flex-direction: column; }
  .header-bottom__capture,
  .header-bottom__text {
    text-align: center; }
  .header-nav__list {
    flex-direction: column; }
  .header-nav__list a {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    padding: 15px 0 15px 0; }
  .header__wrapper {
    padding: 0px; }
  .header-logo {
    padding-left: 20px; }
  .header-menu {
    padding-right: 20px; }
  .header-menu--active {
    background-color: rgba(0, 0, 0, 0.4);
    padding-right: 0px; }
  .header-menu__burger--active-mob {
    position: absolute;
    top: 61px;
    right: 20px; }
  .header-nav__list {
    margin: 0px; } }

.navigation {
  transition: all .2s ease-out;
  box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.16); }

.navigation--wrapper {
  display: flex;
  max-width: 1577px;
  min-height: 82px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  transition: all .9s ease-out;
  align-items: center;
  justify-content: space-between; }

.navigation--active {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; }

.navigation-list {
  display: flex;
  width: 100%;
  max-width: 1035px;
  transition: all .2s ease-out;
  justify-content: space-between; }
  .navigation-list a {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: all .9s ease-out;
    text-decoration: none;
    text-transform: uppercase;
    color: #3b3b3b; }
    .navigation-list a:after {
      position: absolute;
      display: block;
      width: 0;
      height: 2px;
      content: '';
      -webkit-transition: width .1s ease-in;
      transition: width .1s ease-in;
      background-color: #000; }
    .navigation-list a:hover:after {
      width: 100%; }
  .navigation-list .active {
    border-bottom: 2px solid #000000; }

.navigation--active {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .1s ease-out;
  background-color: #fff; }

.navigation-list__item--active {
  text-decoration: underline; }

.navigation-menu__burger {
  display: none; }

@media (max-width: 920px) {
  .navigation-list {
    display: none; }
    .navigation-list li {
      width: 100%; }
  .navigation-menu__burger {
    display: block; }
  .header-logo--navigation {
    padding-left: 20px; }
  .navigation-menu__burger-item {
    background-color: #000 !important; }
  .navigation-menu__burger {
    padding-right: 20px;
    cursor: pointer; }
  .navigation--wrapper {
    position: relative;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: space-between; }
  .navigation-list a {
    display: flex;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid;
    justify-content: center; }
  .navigation-menu__burger-item {
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: #ededed; }
  .navigation-menu__burger span:nth-child(2) {
    margin-top: 2px;
    margin-bottom: 2px; }
  .navigation-logo--active {
    padding-top: 20px; }
  .navigation-list--acitve {
    display: flex; }
  .navigation--wrapper--active {
    position: relative;
    flex-direction: column;
    align-items: baseline; }
  .navigation-menu__burger--active {
    position: relative;
    top: 5px; }
  .navigation-menu__burger-item--active:nth-child(1) {
    transition: all .2s ease-out;
    transform: rotate(45deg);
    background-color: #dd0909; }
  .navigation-menu__burger-item--active:nth-child(2) {
    position: relative;
    top: -6px;
    transition: all .2s ease-out;
    transform: rotate(-45deg);
    background-color: #dd0909; }
  .navigation-menu__burger-item--active:nth-child(3) {
    opacity: 0; }
  .navigation-list--active {
    display: flex;
    flex-direction: column; }
  .navigation-menu__burger--active {
    position: absolute;
    top: 40px;
    right: 0; } }

.about--wrapper {
  max-width: 1380px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

.about-capture {
  text-align: center;
  color: #1d1d1d;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 3.75px; }

.about-title {
  text-align: center;
  color: #3b3b3b;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  letter-spacing: 2.25px; }

.about-img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.about-text {
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 66px;
  letter-spacing: 1.75px;
  line-height: 20px; }

.about-capture--active {
  margin-top: 120px; }

.static-capture {
  margin-top: 94px;
  margin-bottom: 16px;
  text-align: center;
  color: #ededed;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.75px; }

.static-title {
  text-align: center;
  color: #ededed;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.25px;
  margin-bottom: 80px; }

.static--inner {
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 74px;
  justify-content: space-between; }

.static-item__count {
  letter-spacing: 9px;
  color: #ededed;
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 22px;
  text-align: center; }

.static-item__name {
  color: #ededed;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.static-item {
  max-width: 240px; }

.static {
  display: flex;
  flex-direction: column;
  background: #403c40 url("../img/big-wheels.jpg") no-repeat center center fixed;
  background-size: 100% 100%; }

.static-item--last-item {
  max-width: 152px; }

@media (max-width: 920px) {
  .static--inner {
    flex-wrap: wrap;
    justify-content: center; } }

.feature-capture {
  font-size: 30px;
  font-weight: bold;
  margin-top: 51px;
  margin-bottom: 17px;
  text-align: center;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  color: #1e1e1e; }

.feature-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 2.25px;
  color: #3b3b3b; }

.feature-items_item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3b3b3b; }

.feature-items_item-title--up {
  margin-top: 8px;
  margin-bottom: 0; }

.feature-items_item-show {
  font-size: 18px;
  font-weight: 400;
  font-weight: bold;
  display: flex;
  margin-bottom: 28px;
  text-decoration: underline;
  letter-spacing: 2.25px;
  color: #3b3b3b;
  justify-content: center; }
  .feature-items_item-show:hover {
    text-decoration: none; }

.feature-items {
  display: flex;
  display: flex;
  width: 100%;
  max-width: 1388px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  flex-wrap: wrap; }

.feature-items {
  margin-bottom: 56px; }

@media (max-width: 920px) {
  .feature-items {
    justify-content: center; } }

.team-capture {
  text-align: center;
  color: #1e1e1e;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3.75px;
  margin-top: 50px;
  margin-bottom: 19px; }

.team-title {
  text-align: center;
  letter-spacing: 2.25px;
  font-weight: bold;
  color: #1e1e1e;
  font-size: 18px;
  margin-bottom: 55px; }

.team {
  display: flex;
  flex-direction: column;
  background-color: #ededed; }

.team-items {
  display: flex;
  justify-content: space-between;
  max-width: 1227px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 57px;
  flex-wrap: wrap; }

.team-items__item-name {
  color: #1e1e1e;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.75px;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 10px; }

.team-items__item-prof {
  text-align: center;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.25px; }

.team-items__item img {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000; }

@media (max-width: 920px) {
  .team-items {
    justify-content: center; }
  .team-items__item {
    margin-bottom: 20px; } }

.social-capture {
  color: #1e1e1e;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  margin-top: 66px;
  margin-bottom: 19px;
  text-align: center; }

.social-title {
  text-align: center;
  color: #1e1e1e;
  font-size: bold;
  font-weight: 400;
  letter-spacing: 2.25px;
  margin-bottom: 53px; }

.social-img {
  display: flex;
  max-width: 1577px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 66px;
  padding-right: 20px;
  padding-left: 20px; }

.social-text {
  text-align: center;
  color: #3b3b3b;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 57px; }
  .social-text a {
    text-decoration: underline;
    color: #1e1e1e; }

.footer {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e; }

.footer--wrapper {
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1386px;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 144px;
  padding-right: 20px;
  padding-left: 20px;
  letter-spacing: 3.75px;
  text-transform: uppercase;
  color: #ededed; }

.footer-capture {
  font-size: 30px;
  font-weight: bold;
  margin-top: 57px;
  margin-bottom: 145px;
  text-align: center;
  text-transform: uppercase;
  color: #ededed; }

.footer--inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.footer--links {
  display: flex;
  width: 70%;
  margin-bottom: 50px;
  justify-content: space-between; }

.footer-links1,
.footer-links2,
.footer-social {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  color: #ededed; }
  .footer-links1 li,
  .footer-links2 li,
  .footer-social li {
    margin-bottom: 17px; }
  .footer-links1 ul,
  .footer-links2 ul,
  .footer-social ul {
    display: block; }
  .footer-links1 a,
  .footer-links2 a,
  .footer-social a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    color: #ededed; }
    .footer-links1 a:hover,
    .footer-links2 a:hover,
    .footer-social a:hover {
      text-decoration: underline; }
  .footer-links1 h5,
  .footer-links2 h5,
  .footer-social h5 {
    margin-bottom: 30px; }

.footer-social ul {
  display: flex;
  align-items: center; }
  .footer-social ul li {
    margin: 0 10px 0 0; }

.footer-capture {
  margin-bottom: 70px; }

.footer-map {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  transition: all 0.2s ease-out; }
  .footer-map:hover {
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.5); }

@media (max-width: 920px) {
  .footer-links1,
  .footer-links2,
  .footer-social {
    width: 100%;
    cursor: pointer;
    justify-content: space-between; }
    .footer-links1 ul,
    .footer-links2 ul,
    .footer-social ul {
      display: none; }
  .footer--links {
    width: 100%;
    justify-content: space-between; }
  .footer-map {
    display: flex;
    margin: 0 auto; }
  .footer-links1--active ul {
    display: block; }
  .footer-links2--active ul {
    display: block; }
  .footer-social--active ul {
    display: block; }
  .footer--links {
    flex-direction: column; } }

.map__wrapper {
  max-width: 600px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.5);
  position: relative; }

.map {
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
  display: none; }

.map--active {
  display: block; }

.map-closer__item:nth-child(1) {
  transform: rotate(45deg);
  background-color: #dd0909;
  transition: all 0.2s ease-out; }

.map-closer__item:nth-child(2) {
  transform: rotate(-45deg);
  position: relative;
  top: -6px;
  background-color: #dd0909;
  transition: all 0.2s ease-out;
  margin-bottom: 2px;
  margin-top: 2px; }

.map-closer__item {
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 2px; }

.map-closer {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer; }
