/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-weight: 400;
  color: #3b3b3b;
  font-family: "Raleway"; }

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto; }

picture {
  display: flex; }

li {
  list-style-type: none; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.header__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1577px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  height: 100%; }

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 115px; }

.header-logo {
  color: #ededed;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none; }

.header {
  background: url("../img/header-bg-image.png") no-repeat;
  background-size: 100% 100%;
  background-position: 100%;
  height: 100vh; }

.header-menu__text {
  color: #ededed;
  font-weight: bold;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 5px 0 0; }

.header-menu {
  cursor: pointer;
  display: flex;
  align-items: baseline; }

.header-menu__burger span {
  display: block;
  width: 20px;
  height: 4px;
  background-color: #ededed;
  border-radius: 2px; }

.header-menu__burger span:nth-child(2) {
  margin-bottom: 2px;
  margin-top: 2px; }

.header-bottom__capture {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ededed;
  font-weight: bold;
  text-align: right; }

.header-bottom__text {
  color: #ededed;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: right; }

.header-bottom__text--italic {
  font-size: 18px;
  font-weight: 300;
  font-style: italic; }

.header-bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-end;
  padding-bottom: 300px; }

.navigation {
  box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.16); }

.navigation--wrapper {
  display: flex;
  max-width: 1577px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  align-items: center;
  height: 82px;
  justify-content: space-between; }

.header-logo--navigation {
  color: #1c1c1c;
  font-weight: bold; }

.navigation-list {
  display: flex;
  max-width: 1035px;
  width: 100%;
  justify-content: space-between; }
  .navigation-list a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
