.footer{
    display: flex;
    flex-direction: column;

    background-color: #1e1e1e;
}

.footer--wrapper{
    font-size: 30px;
    font-weight: 400;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1386px;
    margin: 0 auto;
    margin-top: 57px;
    margin-bottom: 144px;
    padding-right: 20px;
    padding-left: 20px;

    letter-spacing: 3.75px;
    text-transform: uppercase;

    color: #ededed;
}

.footer-capture{
    font-size: 30px;
    font-weight: bold;

    margin-top: 57px;
    margin-bottom: 145px;

    text-align: center;
    text-transform: uppercase;

    color: #ededed;
}

.footer--inner{
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.footer--links{
    display: flex;

    width: 70%;
    margin-bottom: 50px;

    justify-content: space-between;
}

.footer-links1,
.footer-links2,
.footer-social{
    font-size: 18px;
    font-weight: bold;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #ededed;
    li{
        margin-bottom: 17px;
    }

    ul{
        display: block;
    }

    a{
        font-size: 18px;
        font-weight: 400;

        text-decoration: none;
        letter-spacing: 2.25px;
        text-transform: uppercase;

        color: #ededed;
        &:hover{
            text-decoration: underline;
        }
    }

    h5{
        margin-bottom: 30px;
    }
}

.footer-social ul{
    display: flex;

    align-items: center;
    li{
        margin: 0 10px 0 0;
    }
}

.footer-capture{
    margin-bottom: 70px;
}

.footer-map{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    transition: all 0.2s ease-out;
    &:hover{
        box-shadow: 0 10px 30px 10px rgba(0,0,0,.5);
    }
}

@media(max-width: 920px){
    .footer-links1,
    .footer-links2,
    .footer-social{
        width: 100%;

        cursor: pointer;

        justify-content: space-between;


        ul{
            display: none;
        }
    }

    .footer--links{
        width: 100%;

        justify-content: space-between;
    }

    .footer-map{
        display: flex;

        margin: 0 auto;
    }

    .footer-links1--active ul{
        display: block;
    }

    .footer-links2--active ul{
        display: block;
    }

    .footer-social--active ul{
        display: block;
    }

    .footer--links{
        flex-direction: column;
    }
}
