.navigation{
	box-shadow: 1px 1px 27px rgba(0, 0, 0, 0.16);
}

.navigation--wrapper{
display: flex;
    max-width: 1577px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
align-items: center;
height: 82px;
	justify-content: space-between;
}

.header-logo--navigation{
	color: #1c1c1c;
	font-weight: bold;
}

.navigation-list{
	display: flex;
	max-width: 1035px;
	width: 100%;
	justify-content: space-between;
	a{
		text-decoration: none;
		color: #3b3b3b;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;

	}
}